<!--Begin "Your name's" row-->
<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-2 border_red"></div>
  <div class="col-md-3 border_red">
    <p>
      <span class="al_right reg_fix">Ваше имя *</span>
    </p>
  </div>
  <div class="col-md-4 border_red fix">
    <p>
      <%= form_for :calc_values, html: {class: 'form-horizontal center'} do |f| %>
          <%= f.text_field :card_count, class: 'form-control fix_size', label: false %>
      <% end %>
    </p>
  </div>
  <div class="col-md-3 border_red"></div>
</div>
<!--End-->
<!--Begin "E-mail" row-->
<div class="row">
  <div class="col-md-2 border_red"></div>
  <div class="col-md-3 border_red">
    <p>
      <span class="al_right reg_fix">E-mail *</span>
    </p>
  </div>
  <div class="col-md-4 border_red">
    <p>
      <%= form_for :calc_values, html: {class: 'form-horizontal center'} do |f| %>
          <%= f.text_field :card_count, class: 'form-control fix_size', label: false %>
      <% end %>
    </p>
  </div>
  <div class="col-md-3 border_red"></div>
</div>
<!--End-->
<!--Begin "Phone" row-->
<div class="row">
  <div class="col-md-2 border_red"></div>
  <div class="col-md-3 border_red">
    <p>
      <span class="al_right reg_fix">Телефон *</span>
    </p>
  </div>
  <div class="col-md-4 border_red">
    <p>
      <%= form_for :calc_values, html: {class: 'form-horizontal center'} do |f| %>
          <%= f.text_field :card_count, class: 'form-control fix_size', label: false %>
      <% end %>
    </p>
  </div>
  <div class="col-md-3 border_red"></div>
</div>
<!--End-->
<!--Begin empty row. See more: application.css-->
<div class="emt_row"></div>
<!--End-->
<!--Begin "Your town's" row-->
<div class="row">
  <div class="col-md-2 border_red"></div>
  <div class="col-md-3 border_red">
    <p>
      <span class="al_right reg_fix">Ваш город</span>
    </p>
  </div>
  <div class="col-md-4 border_red fix">
    <p>
      <%= form_for :calc_values, html: {class: 'form-horizontal center'} do |f| %>
          <%= f.text_field :card_count, class: 'form-control fix_size', label: false %>
      <% end %>
    </p>
  </div>
  <div class="col-md-3 border_red"></div>
</div>
<!--End-->
<!--Begin "Company" row-->
<div class="row">
  <div class="col-md-2 border_red"></div>
  <div class="col-md-3 border_red">
    <p>
      <span class="al_right reg_fix">Компания</span>
    </p>
  </div>
  <div class="col-md-4 border_red fix">
    <p>
      <%= form_for :calc_values, html: {class: 'form-horizontal center'} do |f| %>
          <%= f.text_field :card_count, class: 'form-control fix_size', label: false %>
      <% end %>
    </p>
  </div>
  <div class="col-md-3 border_red"></div>
</div>
<!--End-->
<!--Begin "Comment" row (as textarea)-->
<div class="row">
  <div class="col-md-2 border_red"></div>
  <div class="col-md-3 border_red">
    <p>
      <span class="al_right reg_fix">Комментарий</span>
    </p>
  </div>
  <div class="col-md-4 border_red">
    <p>
      <%= form_for :calc_values, html: {class: 'form-horizontal center'} do |f| %>
          <%= f.text_area :card_count, as: :text, class: 'form-control fix_field', rows:5, cols: '100%', label: false %>
      <% end %>
    </p>
  </div>
  <div class="col-md-3 border_red"></div>
</div>
<!--End-->
<!--Begin "Add file" row-->
<div class="row">
  <div class="col-md-5 border_red"></div>
  <div class="col-md-4 border_red fix">
    <div class="col-md-5 border_red reg_file_fix al_right">Прикрепить макет</div>
    <div class="col-md-7 border_red al_left">
      <p>
        <%= form_for :calc_values do |f| %>
            <%= f.file_field :card_count, as: :file, input_html: { class: 'f_upl' }, label: false %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="col-md-3 border_red"></div>
</div>
<!--End-->
<!--Begin "Another servises" row-->
<div class="row text-center">
    <p class="blue_text center_serv">Можно ли Вам предложить</p>
</div>
<div class="row fix_row_add">
  <div class="col-md-3 border_red grey_bg">
    <div class="col-md-12 border_red text-center text_2_line">Дизайнерские услуги</div>
    <div class="col-md-12 border_red text-center">
      <div class="form-inline">
        <%= label_tag :checkbox, 'Предложить', class: 'red_text' %>
        <%= check_box_tag('name', 'value', false, class: 'checkbox') %>
      </div>
    </div>
  </div>
  <div class="col-md-3 border_red grey_bg">
    <div class="col-md-12 border_red text-center text_2_line">Индивидуальную упаковку карт</div>
    <div class="col-md-12 border_red text-center">
      <div class="form-inline">
        <%= label_tag :checkbox, 'Предложить', class: 'red_text' %>
        <%= check_box_tag('name', 'value', false, class: 'checkbox') %>
      </div>
    </div>
  </div>
  <div class="col-md-3 border_red grey_bg">
    <div class="col-md-12 border_red text-center text_2_line_b">Сопутствующую полиграфию (анкеты, каталоги и пр)</div>
    <div class="col-md-12 border_red text-center">
      <div class="form-inline">
        <%= label_tag :checkbox, 'Предложить', class: 'red_text' %>
        <%= check_box_tag('name', 'value', false, class: 'checkbox') %>
      </div>
    </div>
  </div>
  <div class="col-md-3 border_red grey_bg">
    <div class="col-md-12 border_red text-center text_2_line_b">Оборудование для считывания карт</div>
    <div class="col-md-12 border_red text-center">
      <div class="form-inline">

        <%= form_for :calc_values do |f| %>


              <%= f.label :checkbox, 'Предложить', class: 'red_text ckbText' %>

              <%= f.check_box :send_text, {class: 'checkbox bootstrap-checkbox'}, true, false %>

        <% end%>
        <!--<img src='<%= asset_path 'k0.png' %>'>-->
      </div>
    </div>
  </div>
</div>
<!--End-->
<!--Begin "Another servises" row-->
    <%= render partial: 'btn_send' %>
<!--End-->