<div class="content">
  <!--Render logo&title-->
  <div class="content_val">
    <div class="row border_red">
      <div class="col-md-2 block border_red row_pad"><%= image_tag("logo.png") %></div>
      <div class="col-md-8 center border_red fix_get text-center"><%= image_tag("title.png") %></div>
      <div class="col-md-2 get_consult border_red">
        <p class="text-center fix_get"><a href="#">Получить консультацию</a></p>
      </div>
      <%= render partial: 'calc_values' %>
    </div>
  </div>
  <!--Horizontal line block-->
  <div class="row border_red">
    <div class="col-md-1 border_red"></div>
    <div class="col-md-10 border_red"><hr></div>
    <div class="col-md-1 border_red"></div>
  </div>
  <!--Render card calculator form-->
  <div class="row border_red">
    <div class="col-md-1 border_red"></div>
    <div class="col-md-10 border_red fix_mar_p">
      <%= render partial: 'calc_form' %>
    </div>
    <div class="col-md-1 border_red"></div>
  </div>

  <div class="emt_row"></div>
  <!--Render user's details block -->
  <div class="content_reg" id="displayBtnClick">
    <%= render partial: 'reg_user' %>
  </div>
  <!--Render submit button block 'Checkout'-->
  <div class="content_btn_sbm" id="fBtn">
    <%= render partial: 'sbm' %>
  </div>
  <!--Render socials button's block-->
  <div class="content_btn_soc">
    <%= render partial: 'btns_socials' %>
  </div>
</div>
